@model AntFlight.Models.FlightMessages.FlightMessage
@using AntFlight.Models.FlightMessages;

@*<div class="row description">*@
<div class="description">
    <div class="row ">
        <!--Ant Flight Description-->
        @*<div class="col-xs-8 col-md-8">*@
        <h2>@Model.Ant.SpeciesName</h2>

        <div class="row geodata">
            <div class="col-xs-3 col-xs-offset-3">

                Cтрана
                <p>@Model.City.Country.Name</p>
            </div>
            <div class="col-xs-3">
                <div>
                    Город
                    <p>@Model.City.Name</p>
                </div>
            </div>

        </div>
    </div>
    @*<div class="col-sm-12">*@
    <div class="row deny_row_margin">
        <div class="flight_time" style="display : block">
            Дата лёта: @Model.FlightTime.ToString("dd.MM.yyyy")
        </div>
        <table class="table table-striped table_ant_description">
            <tbody>
                <tr>
                    <td><label asp-for="FMDescription.FlightIntensity"></label></td>
                    <td>@FlightMessageDescription.GetFlightIntensityArr[Model.FMDescription.FlightIntensity]</td>
                </tr>
                @if (Model.FMDescription.Temperature != 0)
                {
                    <tr>
                        <td><label asp-for="FMDescription.Temperature"></label></td>
                        <td>@FlightMessageDescription.GetTemperatureArr[Model.FMDescription.Temperature]</td>
                    </tr>
                }
                @if (Model.FMDescription.Sky != 0)
                {
                    <tr>
                        <td><label asp-for="FMDescription.Sky"></label></td>
                        <td>@FlightMessageDescription.GetSkyArr[Model.FMDescription.Sky]</td>
                    </tr>
                }
                @if (Model.FMDescription.Precipitation != 0)
                {
                    <tr>
                        <td><label asp-for="FMDescription.Precipitation"></label></td>
                        <td>@FlightMessageDescription.GetPrecipitationArr[Model.FMDescription.Precipitation]</td>
                    </tr>
                }
                @if (Model.FMDescription.Wind != 0)
                {
                    <tr>
                        <td><label asp-for="FMDescription.Wind"></label></td>
                        <td>@FlightMessageDescription.GetWindArr[Model.FMDescription.Wind]</td>
                    </tr>
                }
                @if (Model.FMDescription.Terrain != 0)
                {
                    <tr>
                        <td><label asp-for="FMDescription.Terrain"></label></td>
                        <td>@FlightMessageDescription.GetTerrainArr[Model.FMDescription.Terrain]</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.FMDescription.Description != null)
        {
            <div class="row flight_description">
                @Model.FMDescription.Description;
            </div>
        }


        <div class="row flight_description_footer">
            <p>
                <strong>Добавил лёт:</strong> @String.Format("{0:dd.MM.yyyy} в {0:HH:mm}" , @Model.MessageTime), @Model.User.UserName
            <p>
        </div>
        @*<div class="row admin_comment">
                <p><strong> Замечания админа: </strong></p>
                <p>рабочих муравьёв. После брачного лёта они отыскивают укромные места, например, под камнями, опавшими листьями или валежнями, где они основываю</p>
            </div>*@
    </div>
    <!--END Ant Flight Description-->
</div>